.body {
  border: 3px solid black;
  border-radius: 2px;
  padding: 1em;
}

a:hover{
    color:red;
}

a:active {
    color:blue;
}

.style {
	border: 4px groove black;
	background: black;
	color:white;
	padding:2em;
	margin:2em;
}